<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Página de um programador back-end</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <div class="content-box">
   <h1>Olá, sou o Anderson da Silva</h1>

   <h2>Sobre min</h2>
   <p>
    Sou um programador backend especializado em Golang e atualmente trabalho como Gerente de Projetos na <b>TruckPag Meio de pagamento</b>. 
    Tenho paixão por resolver problemas complexos e liderar equipes para entregar soluções eficientes e de alta qualidade, 
    sempre buscando novos desafios.
   </p>

   <h2><b>Habilidades</b></h2>
   <ul>
    <li><b>Linguagem principal:</b> Golang</li>
    <li><b>Ferramentas:</b> Jira, Kabanize</li>
    <li><b>Banco de dados:</b> Postgres, Mysql, Redis, MongoDB, SQLite, SQL Server</li>
    <li>Gestão e liderança:  Liderança de equipe, Gestão de projetos, Métodos Ágeis, Comunicação, Resolução de conflitos</li>
   </ul>

   <h2><b>Conhecimentos</b></h2>
   <ul>
    <li>Docker</li>
    <li>Grafana</li>
    <li>Arquitetura de software</li>
    <li>NodeJS</li>
    <li>Python</li>
    <li>Delphi</li>
    <li>C# + Windows forms</li>
   </ul>

   <h2><b>O que eu estou estudando agora</b></h2>
   <ul>
    <li>Arquitetura de software</li>
    <li>Performance de aplicações</li>
    <li>Testes</li>
    <li>AWS, Azure, Google Cloud platform</li>
    <li>Golang</li>
   </ul>
</div>

<script src="static/script.js"></script>
</body>
</html>